<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/normalize.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1>BLACKJACK</h1>
        </div>
      </div>

      <%if @error%>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger" role="alert" style="text-align: center"><strong><%=@error%></strong></div>
          </div>
        </div>
      <% elsif @success %>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-success" role="alert" style="text-align: center"><strong><%=@success%></strong></div>
          </div>
        </div>
      <% end %> 

      <% if @hide_player_info || session[:player_name] == nil %>
        <div class="row">
          <div class="col-md-7">
            <h3 style="visibility: hidden">Player</h3>
          </div>
        </div>      
      <% else session[:player_name] != nil %>
        <div class="row"  style="margin-right: 0px;">
          <div class="col-md-7 col-md-offset-2">
            <h3><strong>Player: </strong><%= session[:player_name] %></h3>
          </div>
          <div class="col-md-3">
          <% if @allow_balance %>
            <form id="balance_button" action="/game/player/add_balance" method="post">
              <input type="submit" value="+" class="btn btn-success btn-xs">
            </form>
          <% else %>
            <form id="balance_button" action="/game/player/add_balance" method="post">
              <input type="submit" value="+" class="btn btn-success btn-xs" disabled>
            </form>
          <% end %>
            <h3 style="text-align: right; float: right"><strong>Balance:</strong> $<%= session[:player_balance] %></h3>
          </div>
        </div>
      <% end %>  
  
      <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
          <div class="btn-group-vertical btn-block btn-group-lg">
            <a href="/" class="btn btn-inverse" role="button">Restart Game</a>
            <a href="/game/player/profile" 
              <% if session[:player_name] == nil || @game_over %>
                <%= "class='btn btn-inverse disabled'" %>
              <% else %>
                <%= "class='btn btn-inverse'" %>
              <% end %>
             role="button">Profile</a>
          </div>
        </div>

        <div class="col-md-10">

            <%= yield %>
                
        </div>
        
      </div>

      <footer class="row">
        <div class="large-12 columns">
          <hr/>
        </div> 
      </footer>
    </div>
    <script src="/application.js"></script>
  </body>
</html>
