<div class="row">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <h3>Profile</h3>
        <h4>Balance: $<%= session[:player_bank] %></h4>
        <p>Total Winnings: $<%= session[:total_winnings] %></p>
        <p>Games won: <%= session[:games_won] %></p>
        <p>Games lost: <%= session[:games_lost] %></p>
        <p>Games tied: <%= session[:games_tied] %></p>
      </div>
      <div class="btn-group btn-group-lg">
        <form action="/play" method="post">
          <input type="submit" class="btn btn-success" value="Play Blackjack!">
        </form>
        <form action="/add_bank" method="post">
          <input type="submit" class='btn btn-primary' value="Add to Bank">
        </form>
      </div>
    </div>
  </div>
</div>